@import "greeting.css";
@import "planer.css";

.hidden {
    display: none;
}

body {
    height: 100vh;
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
                linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    color: aliceblue;
}

input:focus {outline: none;}

input::placeholder {
    color: aliceblue;
    opacity: 80%;
  }

  body {
	background: linear-gradient(-45deg, #d191eb, #e79fcf, #7fc2db, #82ddc7);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}